    /*GLOBAL*/
    *{

        padding: 0;
    } 

    body{
        font-family: 'Roboto', serif;
        background-image: url(imagem-fundo.png);
        background-size: cover;
    }

    ul{
        list-style: none;
    }

     /*FONTS*/
     h1, h2, .price{
        font-family: 'Roboto Serif', serif;
        text-transform: uppercase;
        color: #000;
    }
    


    /* HEADER */

    header{
       padding:55px 0;
       text-align: center;
    }

    header,
    section{
        margin:0px auto;
        position: relative;
        max-width: 600px;
        padding: 50px;
        background: rgba(255, 255, 255, .2);
        border-radius: 10px;
    }
    header h1{
        margin-bottom: 4px;
        font-size: 28px;
        line-height: 33px;
    }

     header h1 span{
        color: #995000;
     }
     header p{
        font-size: 14px;
        line-height: 16px;
        color: rgba(0, 0, 0, 0.7);
     }


    /* SECTION */

    section h2{
        background-color:#995000;
        padding:8px 16px;
        text-align: center;
        border-radius: 5px;
        
        margin-bottom: 24px;
        font-size: 18px;

    }
    
    /* LISTA */
    ul li{
        margin-bottom: 16px;
        display: flex;
    }

    ul li{
        margin-bottom: 16px;
        display: flex;
    }

    li .details{
        max-width: 240px;
    }
    
    .details h3{
        color: ;
        margin-bottom: 8px;
        font-size: 16px;
        line-height: 19px;
        text-align: left;
    } 

    .details p{
        color: #fff;
        font-size: 14px;
        line-height: 21px;
    }

    
   
